<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results</title>
</head>
<script>

</script>
<body>
    {% if results %}
    <form method=post enctype=multipart/form-data action="{{url_for('test')}}">
        <div class="select" id="select-image">
            <div class="options">
                {% for img_name in results %}
                <div class="option" id="{{img_name}}">
                    <input type="radio" name="anchor" value="{{img_name}}" >
                    <img src="../upload/{{img_name}}" alt="{{img_name}}">
                </div>
                {% endfor %}
            </div>
        </div>
        <input type=file name=file>
        <br>
        <input type=submit value=Upload>
    </form>
    {% else %}
        No results :(
    {% endif %}
    <img src="C:\Users\edula\Signature\upload\download.jpg" alt="">
</body>
</html>