<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results</title>
</head>
<script>

</script>
<body>
    Hi {{results}} pretty
    {% if results %}
    <form method=post enctype=multipart/form-data action="{{url_for('test')}}">
        <select id="anchor" name="anchor">
            <table>
                <tbody>
            
                {% for img_name in results %}
                    <tr>
                        <option value = "{{img_name}}">
                            <td>{{ img_name }}</td>
                            <td><img  src="../upload/{{img_name}}" alt="{{ img_name }}"></td>
                        </option>
                    </tr>
                {% endfor %}
            
                </tbody>
            </table>
        </select>
            <input type=file name=file>
            <input type=submit value=Upload>
        </form>
    {% else %}
        No results :(
    {% endif %}
</body>
</html>